.App {
  background-color: #282c34;
  max-width: 100%;
  overflow: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-body {
  margin-inline: 50px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  align-items: center;
  justify-content: center;
}

code pre {
  display: block;
  width: 1300px;
  max-width: 1300px;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.App-link {
  color: #61dafb;
}

table {
  margin-bottom: 100px;
}

th {
  width: 100%;
}

td{
  text-align: center;
}

.Category-image-head {
  /* padding-left: 100px; */
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
